# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
.venv/
.env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Editor and IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
desktop.ini
